@if (cartDetails.totalCartPrice) {
    <section class="main-section w-3/4 ">

        <h1 class="text-center text-3xl text-green-600">Shop Cart</h1>

        <div class="flex items-center justify-between">

            <span class="text-green-600">Total Cart Price: {{cartDetails.totalCartPrice | currency:'GBP'}}</span>
            <button (click)="clearItems()" class="btn-main">clear Cart</button>
        </div>
    
    @for (prod of cartDetails.products; track prod.product.id) {
    
        <div class="grid md:grid-cols-[10%_minmax(0,1fr)] border-b mb-2">
    
            <picture>
                <img class="w-full h-[100px] object-contain" [src]="prod.product.imageCover" [alt]="prod.product.title">
            </picture>
    
    
            <div class="flex justify-between items-center">
    
    
                <div class="flex flex-col items-start">
                    <h3>Title</h3>
                    <span>Price: {{prod.price | currency: 'GBP'}}</span>
                    <button (click)="removeItem(prod.product.id)"><i class="fas fa-trash-can text-green-600"></i> Remove</button>
                </div>
    
    
                <div class="flex items-center gap-4 justify-center">
                    <button (click)="updateCount(prod.product.id, prod.count + 1)" class="text-green-600 text-3xl"><i class="fa-regular fa-square-plus"></i></button>
                    <span>{{prod.count}}</span>
                    <button (click)="updateCount(prod.product.id, prod.count - 1)" class="text-green-600 text-3xl"><i class="fa-regular fa-square-minus"></i></button>
                </div>
    
    
            </div>
    
    
        </div>
    }
    
    <button class="btn-main" [routerLink] = "['/checkout', cartDetails._id]">checkout</button>
    
    </section>
    
}

@else {
    <section class="main-section">
        <h1 class="text-center text-3xl text-green-600">No items selected</h1>
    </section>

}
