<section class="w-1/2 mx-auto bg-gray-50 p-4 border rounded shadow">
    <h1 class="text-3xl font-light text-center text-green-600">Forget Password</h1>


    @if (step === 1) {
        <form [formGroup]="verifyEmailForm" (ngSubmit)="sendVerifyEmailForm()">

            @let emailControl = verifyEmailForm.get('email');

            <div class="mb-1">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                
            </div>

            @if (emailControl?.errors && emailControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (emailControl?.getError('required')) { 
                                <li>email is required</li>
                            }
                            @else if (emailControl?.getError('email')) { 
                                <li>Enter a valid email</li>
                            }
                      </ul>
                    </div>
                  </div>
            }
    
            <button [disabled]="isLoading" type="submit" class="btn-main">
                Verify Email
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>

            @if (messageError) {
                <p class="bg-red-400 text-white px-2 py-4 border rounded">{{messageError}}</p>
            }
        </form>
    }

    @else if (step === 2) {
        <form [formGroup]="verifyCodeForm" (ngSubmit)="sendVerifyCodeForm()">
            @let verifyCode = verifyCodeForm.get('resetCode');
            <div class="mb-1">
                <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reset Code</label>
                <input formControlName="resetCode" type="text" id="resetCode" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                
            </div>
            @if (verifyCode?.errors && verifyCode?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (verifyCode?.getError('required')) { 
                                <li>code is required</li>
                            }
                            @else if (verifyCode?.getError('pattern')) { 
                                <li>The code is wrong</li>
                            }
                      </ul>
                    </div>
                  </div>
            }
    
            <button [disabled]="isLoading" type="submit" class="btn-main">
                Verify Code
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }

    @else if (step ===3) {
        <form [formGroup]="verifyResetPassword" (ngSubmit)="sendVerifyResetPasswordForm()">
            @let resetPasswordControl = verifyResetPassword.get('newPassword');
            <div class="mb-1">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input readonly formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                
            </div>

            <div class="mb-1">
                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input formControlName="newPassword" type="password" id="newPassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    
            </div>

            @if (resetPasswordControl?.errors && resetPasswordControl?.touched) {
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (resetPasswordControl?.getError('required')) { 
                                <li>password is required</li>
                            }
                            @else if (resetPasswordControl?.getError('pattern')) { 
                                <li>Password must start with an uppercase letter and be at least 8 characters long.</li>
                            }
                      </ul>
                    </div>
                  </div>
            }
    
            <button [disabled]="isLoading" type="submit" class="btn-main">
                Submit
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
        </form>
    }



</section>